<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show plats</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}">

    </script>

    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Resto Italien</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tables">Nos tables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entreess">entreess</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/desserts">Dessert</a></li>
                        <li><a class="dropdown-item" href="/entrees">Entrees</a></li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tickets">Nos tickets</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10 ">
                            <h1 class="panel-title">Tables</h1>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-default" href="" th:href="@{'/table/add'}"
                               role="button">Ajouter</a>

                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" >
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th> ID </th>
                                <th> Nombre de couverts </th>
                                <th> Type </th>
                                <th> Supplément </th>
                                <th> Update </th>
                                <th> Delete </th>
                            </tr>
                            </thead>

                            <tr th:each="table: ${tables}">
                                <td th:text="${table.numero}"> 124 </td>
                                <td th:text="${table.nbCouvert}"> Taste Gooood </td>
                                <td th:text="${table.type}"> Taste Gooood </td>
                                <td th:text="${table.supplement}"> Taste Gooood </td>
                                <td><a href="#" th:href="@{'/table/'+ ${table.numero} +'/show'}">Voir</a> </td>
                                 <td> <a href="#" th:href="@{'/table/'+ ${table.numero} +'/update'}">Update</a>
                                 <td> <a href="#" th:href="@{'/table/'+ ${table.numero} +'/delete'}">Delete</a> -->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
