<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Ticket</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    <script>
        // Total Price Calculator
        function calc() {
            // Get value from input
            // let number = parseFloat($('#no-text').val() || 0);
            let tots = 0;

            // Add Checkbox values
            $(".checks:checked").each(function() {
                // tots += parseFloat($('.checks').val());
                tots += parseFloat($(this).val());

            });

            // Update with new Number
            $('#tots').val((tots).toFixed(2));
        }

        $(function() {
            $(document).on('change', '.checks', calc);
            calc();
        });
    </script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form  th:object="${tickets}" th:action="@{'/tickets/' +${tickets.id}} " method="post">
                <!--   <input type="hidden" th:field="*{id}"/>
                   <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                       <p>Please Correct Errors Below</p>
                   </div>-->

                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Ticket Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 form-group" >
                                    <label>Date:</label>
                                    <input type="datetime-local" class="form-control" th:field="*{date}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('date')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('date')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Table:</label>
                                    <select class="form-control" th:field="*{table.numero}">
                                        <option th:each="tables : ${tableList}"
                                                th:value="${tables.numero}"
                                                th:selected="${tables.numero.equals(tickets.getTable().numero)}"
                                                th:text="${tables.numero}+': '+${tables.type}+' max '+${tables.nbCouvert}+' couverts '">Each</option>
                                    </select>
                                    <label>Nombre des couverts</label>
                                    <input type="number" th:field="*{nbCouvert}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Plats:</label>
                                    <input type="checkbox"  class="checks" th:each="plats : ${platsList}" th:value="${plats.prix}"
                                           th:text="${plats.nom}+': '+${plats.prix}" id="plat"
                                           th:data-price="${plats.prix}" ><br>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Addition</label>
                                    <input type="text" id="tots" name="addition" th:field = "*{addition}">
<!--                                    <span id="tots">0.00</span>-->
                                </div>

                                <div class="col-md-6 form-group">
                                    <label>Clients:</label>


                                    <input type="text" name="clients_id">
                                    <!--                                    <span id="tots">0.00</span>-->
                                </div>

                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
